<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Home{% endblock %} | ClusterBuster</title>
</head>
<body>
<header>{% block header %}{% endblock %}</header>
<div id="navigation">
    {% block navigation %}
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'player_create' %}">View Your Player</a></li>
            <li><a href="{% url 'room_list' %}">View Active Rooms</a></li>
            <li><a href="{% url 'room_create' %}">Start a Room</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>{% block footer %}{% endblock %}</footer>
</body>
</html>