attrs==19.1.0
certifi==2018.1.18
chardet==3.0.4
Django==2.1.7
django-crispy-forms==1.7.2
django-extra-views==0.11.0
django-filter==2.1.0
django-guardian==1.5.0
djangorestframework==3.9.3
httpie==0.9.9
idna==2.6
inflection==0.3.1
jsonschema==3.0.1
Markdown==3.1
openapi==1.1.0
psycopg2==2.7.3.2
Pygments==2.2.0
pyrsistent==0.15.1
pytz==2017.3
requests==2.21.0
six==1.11.0
urllib3==1.24.2
