container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_import:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata clusterbuster/data/gamedefinitions.json"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  04_collectstatic:
      command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"