option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: clusterbuster/wsgi.py

container_commands:
  01_collectstatic:
    Command:"source /opt/python/run/ClusterBuster-dev/bin/activate && python ClusterBuster/manage.py collectstatic --noinput"
  02_migrate:
    Command:"source /opt/python/run/ClusterBuster-dev/bin/activate && python ClusterBuster/manage.py migrate --noinput"
    leader_only: true