{% extends "rooms/base/html_base.html" %}

{% block head_title %}Room {{ room.code }}{% endblock %}
{% block content %}
    <h1>Room {{ room.code }}</h1>
    <div id="room-options">
        {% if is_leader %}
            <p>Your lead.</p>
            <div id="room-leader-options">
                {% block room_leader_options %}{% endblock %}
            </div>
        {% elif is_player %}
            <div id="room-player-options">
                {% if can_join %}
                    <form method="post" action="{% url 'join_room' room.code %}">
                        {% csrf_token %}
                        <input type="submit" value="Join Room"/>
                    </form>
                {% endif %}
                {% if has_player %}
                    <p>You are in this room.</p>
                {% endif %}
                {% block room_player_options %}{% endblock %}
            </div>
        {% else %}
            <div id="room-anonymous-options">
                <p>Create a new player and join the room.</p>
                <form method="post" action="{% url 'player_create_and_join_room' room.code %}">
                    {% csrf_token %}
                    <label>Name
                        <input type="text" name="name" value=""/>
                    </label>
                    <input type="submit" value="Join Room"/>
                </form>
                {% block room_anonymous_options %}{% endblock %}
            </div>
        {% endif %}
    </div>
    <div id="room-details">
        <h2>Players</h2>
        <ul>
            {% for player_extra in players %}
                <li>
                    {{ player_extra.player.name }}
                    {% if player_extra.is_leader %}
                        (Room Leader)
                    {% elif player_extra.is_player %}
                        (You)
                    {% endif %}
                </li>
                {% empty %}
                <p>No players yet...</p>
            {% endfor %}
        </ul>
        <h2>Teams</h2>
        {% for team_extra in teams %}
            <strong>{{ team_extra.team.name }}</strong>
            {% if team_extra.has_player %}(Your Team){% endif %}
            <ul>
                {% for player in team_extra.team.players.all %}
                    <li>{{ player.name }}</li>
                {% empty %}
                    <p>No players yet...</p>
                {% endfor %}
            </ul>
            {% empty %}
            <p>No teams yet...</p>
        {% endfor %}
        {% block room_details %}{% endblock %}
    </div>
{% endblock %}