{% extends "core/base/html_base.html" %}

{% block head_title %}Game {{ game.code }}{% endblock %}
{% block content %}
    <div id="game-overview" class="row">
        <div class="col">
            <div id="game-title">
                <h1>Game {{ game.code }}</h1>
            </div>
            {% if is_game_over %}
                <h2>Game Over!</h2>
                <div id="final-score-information">
                    {% include "core/includes/final_score.html" %}
                    <div class="back-to-room-link">
                        <a href="{% url 'room_detail' game.room.code %}">Back to the Room</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="game-details" class="row">
        <div id="team-information" class="col">
            <h2>Team Information</h2>
            <div id="code-words-block">
                <h3>Code Words - Top Secret!</h3>
                <table id="code-words-table">
                    <tr>
                        {% for secret_word in secret_words %}
                            <th>
                                {{ forloop.counter }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for secret_word in secret_words %}
                            <td>
                                {{ secret_word }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div id="tokens-information">
                {% include "core/includes/token_information.html" %}
            </div>
        </div>
        <div id="round-information" class="col">
            <h2>Round Information</h2>
            <div id="round-number-block">
                Round:
                <strong>
                    <span id="round-number">{{ round_number }}</span>
                </strong>
            </div>
            <div id="round-stage-block">
                Stage:
                <strong>
                    <span id="round-stage">{{ round_stage }}</span>
                </strong>
            </div>
            {% if show_hints_information %}
                <div id="round-hints-information">
                    {% include "core/includes/round_hints_information.html" %}
                </div>
            {% endif %}
            {% if show_guesses_information %}
                <div id="round-guesses-information">
                    {% include "core/includes/round_guesses_information.html" %}
                </div>
            {% endif %}
        </div>
    </div>
    {% include "core/includes/all_hints_information.html" %}
    <div id="game-options-header" class="row">
        <div class="col">
            <h2>Options</h2>
        </div>
    </div>
    <div id="game-options" class="row">
        {% if is_round_leader %}
            <div id="round-leader-options" class="col">
                {% if show_leader_hints_form_link %}
                    <a href="{% url 'leader_hints' game.code %}">Submit Leader Hints</a>
                {% endif %}
                {% if show_score_teams_link %}
                    <a href="{% url 'score_teams' game.code %}">Score the Teams</a>
                {% endif %}
                {% if show_start_next_round_link %}
                    <a href="{% url 'start_next_round' game.code %}">Start the Next Round</a>
                {% endif %}
            </div>
        {% endif %}
        <div id="round-player-options" class="col">
            {% if show_player_guesses_form_link %}
                <div>
                    <a href="{% url 'player_guesses' game.code %}">Submit Guesses for Team's Hints</a>
                </div>
            {% endif %}
            {% if show_player_guesses_opponents_form_link %}
                <div>
                    <a href="{% url 'player_guesses_opponents' game.code %}">Submit Guesses for Opponent's Hints</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="player-and-teams-header" class="row">
        <div class="col">
            <h2>Players and Teams</h2>
        </div>
    </div>
    <div id="player-and-teams" class="row">
        {% for team in game.teams.all %}
            <div class="col">
                <div class="team-header row">
                    <div class="col">
                        <span class="team-name">{{ team.name }}</span> Team
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            {% for player in team.players.all %}
                                <li>{{ player.name }}</li>
                            {% empty %}
                                <p>No players!</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}