{% extends "core/base/html_base.html" %}

{% block head_title %}Game {{ game.pk }}{% endblock %}
{% block content %}
<h1>Game {{ game.code }}</h1>

<h3>Teams</h3>
{% for team in game.teams.all %}
    Team {{ forloop.counter }}
    <ul>
        {% for player in team.players.all %}
            <li>{{ player.name }}</li>
        {% empty %}
            <p>No players!</p>
        {% endfor %}
    </ul>
{% endfor %}
<h3>Rounds</h3>
<ul>
    {% for round in game.rounds.all %}
        <li>{{ round.number }}</li>
    {% endfor %}
</ul>
{% endblock %}