{% extends "core/base/html_base.html" %}

{% block head_title %}Room {{ gameroom.code }}{% endblock %}
{% block content %}
    <h1>Room {{ gameroom.code }}</h1>
    {% if player_in_game %}
        <div id="active-player-content">{% block active_player_content %}
            <div id="player-game-status">You are playing!</div>
            {% if is_leader %}
                <div id="round-leader-status">You are the round leader!</div>
            {% endif %}
            <div id="round-status">Currently in the <span id="round-stage">{{ round.get_current_stage_name }}</span> stage.</div>
            <div id="round-instructions">
                {% if round.is_composing %}
                    {% if is_leader %}
                        <a href="{% url 'round_hints' gameroom.code %}">View and submit your hints!</a>
                    {% elif player_team_round.is_waiting %}
                        <p>You are waiting on opponent leaders to come up with hints...</p>
                    {% else %}
                        <p>The leader is coming up with hints...</p>
                    {% endif %}
                {% elif round.is_guessing %}
                        <p>Hints are in!</p>
                    {% for pair in hint_orders %}
                        {{ pair.order }} - {{ pair.hint }}
                    {% endfor %}
                {% endif %}
            </div>
            <h2>Words</h2>
            <table>
                <thead>
                <tr>
                    {% for teamword in player_team.team_words.all %}
                        <th>{{ teamword.position }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for teamword in player_team.team_words.all %}
                        <td>{{ teamword.word }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endblock %}</div>
    {% else %}
        <div id="player-game-status">You are spectating...</div>
        <form method="post" action="{% url 'player_join_game' gameroom.code %}">{% csrf_token %}
            <input type="submit" value="Join"/>
        </form>
    {% endif %}
    <h2>Players</h2>
    <ul>
        {% for player in game.players.all %}
            <li>{{ player.name }}</li>
        {% endfor %}
    </ul>
    <h2>Teams</h2>
    {% for team in game.teams.all %}
        <h3>
            {% if team.pk == player_team.pk %}
                Your Team
            {% else %}
                Opposing Team
            {% endif %}
        </h3>
        <ul>
            {% for player in team.players.all %}
                <li>{{ player.name }}</li>
            {% empty %}
                <p>No players yet...</p>
            {% endfor %}
        </ul>
    {% endfor %}
    <h2>Rounds</h2>
    <form method="post" action="{% url 'game_next_round' gameroom.code %}">{% csrf_token %}
        <input type="submit" value="Next Round"/>
    </form>
    <ul>
        {% for round in game.rounds.all %}
            <li>{{ round.number }}</li>
        {% endfor %}
    </ul>
{% endblock %}