{% extends "core/base/html_base.html" %}

{% block head_title %}Submit hints{% endblock %}
{% block content %}
    {% if is_round_leader %}
        <h1>Submit Your Hints</h1>
        <form class="hints" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
              <label for="id_form-{{ forloop.counter0 }}-hint">{{ form.instance.party_word.word }}</label>
                <div class="hint">
                  {% for field in form %}
                        {{ field }}
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <h2>Avoided Words</h2>
        {% for word in non_target_words %}
            <span>{{ word.position }}. {{ word.word.text }}</span>
        {% endfor %}
    {% else %}
        <p>There is nothing here for you right now.</p>
    {% endif %}
{% endblock %}