{% extends "core/base/html_base.html" %}

{% block head_title %}Submit guesses{% endblock %}
{% block content %}
    {% if not is_leader %}
    <form class="player_guesses" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
          <label for="id_form-{{ forloop.counter0 }}-guess">{{ form.instance }}</label>
            <div class="hint">
              {% for field in form %}
                    {{ field }}
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
        {% if is_player_team %}
        <h2>Your Team's Words</h2>
        <table>
            <thead>
            <tr>
                {% for team_word in player_team.team_words.all %}
                    <th>{{ team_word.position }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for team_word in player_team.team_words.all %}
                    <td>{{ team_word.word.text }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% endif %}
    {% endif %}
{% endblock %}