{% extends "core/base/html_base.html" %}

{% block head_title %}Room {{ room.code }}{% endblock %}
{% block content %}
    <h1>Room {{ room.code }}</h1>
    {% if is_room_leader %}
        <p>Your lead.</p>
        <div class="leader-room-options">
            {% if can_start_game %}
                <form method="post" action="{% url 'start_game' room.code %}">
                    {% csrf_token %}
                    <input type="submit" value="Start Game"/>
                </form>
            {% endif %}
        </div>
    {% endif %}
    {% if is_player %}
        <div class="player-room-options">
            {% if can_join %}
                <form method="post" action="{% url 'join_room' room.code %}">
                    {% csrf_token %}
                    <input type="submit" value="Join Room"/>
                </form>
            {% endif %}
            {% if room_has_player %}
                <p>You are playing in this room.</p>
            {% endif %}
        </div>
    {% else %}
        <div class="non-player-room-options">
            <p>Create a new player and join the game.</p>
            <form method="post" action="{% url 'player_create_and_join_room' room.code %}">
                {% csrf_token %}
                <label>Name
                    <input type="text" name="name" value=""/>
                </label>
                <input type="submit" value="Join Room"/>
            </form>
        </div>
    {% endif %}
    {% include "core/includes/round_status_block.html" %}
    {% include "core/includes/game_detail_block.html" %}
    <h2>Players</h2>
    <ul>
        {% for player in room.players.all %}
            <li>{{ player.name }}</li>
            {% empty %}
            <p>No players yet...</p>
        {% endfor %}
    </ul>
    <h2>Teams</h2>
    {% for team in room.teams.all %}
        <strong>{{ team.name }}</strong>
        <ul>
            {% for player in team.players.all %}
                <li>{{ player.name }}</li>
            {% empty %}
                <p>No players yet...</p>
            {% endfor %}
        </ul>
        {% empty %}
        <p>No teams yet...</p>
    {% endfor %}
{% endblock %}