{% extends "core/base/html_base.html" %}

{% block head_title %}Welcome{% endblock %}
{% block content %}
    {% if player_is_current_leader %}
        <table>
            <thead>
            <tr>
                {% for word in words %}
                    <th>{{ word.position }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for word in words %}
                    <td>{{ word.text }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <form class="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="">
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    {% else %}
        <p>There is nothing here for you right now.</p>
    {% endif %}
{% endblock %}