{% if game_has_player %}
    <div id="active-player-content">{% block active_player_content %}
        <div id="player-game-status">You are playing!</div>
        <div id="round-leader-status">{% if is_round_leader %}You are{% else %}{{ player_party_round.leader.name }} is{% endif %} the round leader!</div>
        <div id="round-instructions">
            {% if round_is_composing %}
                <h2>Hints</h2>
                {% if is_round_leader %}
                    <a href="{% url 'round_hints' room.code %}">View and submit your hints!</a>
                {% elif player_party_round_is_waiting %}
                    <p>You are waiting on opponent leaders to come up with hints...</p>
                {% else %}
                    <p>{{ player_party_round.leader.name }} is coming up with hints...</p>
                {% endif %}
            {% elif round_is_guessing %}
                <h2>Your Team's Hints</h2>
                <ol>
                    {% for player_hint in player_party_round_hints %}
                        <li>
                            {{ player_hint.hint }}
                            {% if player_hint.conflicting_guesses %}
                            <span class="conflicting-guess"> -- conflicting guesses!</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
                <h3>Your Team's Guesses</h3>
                <div id="player-party-round-guesses"></div>
                {% if not is_round_leader %}
                    <a href="{% url 'round_guesses' room.code %}">Guess on your team's hints!</a>
                {% endif %}
                <h2>Your Opponent Team's Hints</h2>
                <ol>
                    {% for opponent_hint in opponent_party_round_hints %}
                        <li>{{ opponent_hint.hint }}
                            {% if opponent_hint.conflicting_guesses %}
                            <span class="conflicting-guess"> -- conflicting guesses!</span>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ol>
                <h3>Your Team's Guesses</h3>
                <div id="opponent-party-round-guesses"></div>
                {% if not is_round_leader %}
                    <a href="{% url 'round_opponent_guesses' room.code %}">Guess on your opponent team's hints!</a>
                {% endif %}
                <h2>Your Team's Guessers</h2>
                <ol>
                    {% for player in player_party_round_context.guessing_players %}
                        <li>{{ player.name }}
                        </li>
                    {% endfor %}
                </ol>

            {% endif %}
        </div>
        <h2>Words</h2>
        <table>
            <thead>
            <tr>
                {% for party_word in player_party.party_words.all %}
                    <th>{{ party_word.position }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for party_word in player_party.party_words.all %}
                    <td>{{ party_word.word }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endblock %}</div>
{% endif %}