<div id="player-tokens-information">
    <div id="player-winning-tokens">
        Player Team's Winning Tokens:
        <strong>
            <span id="player-winning-tokens-count">{{ tokens.player.winning_tokens }}</span>
        </strong>
    </div>
    <div id="player-losing-tokens">
        Player Team's Losing Tokens:
        <strong>
            <span id="player-losing-tokens-count">{{ tokens.player.losing_tokens }}</span>
        </strong>
    </div>
</div>
<div id="opponent-tokens-information">
    <div id="opponent-winning-tokens">
        Opponent Team's Winning Tokens:
        <strong>
            <span id="player-winning-tokens-count">{{ tokens.opponent.winning_tokens }}</span>
        </strong>
    </div>
    <div id="opponent-losing-tokens">
        Opponent Team's Losing Tokens:
        <strong>
            <span id="player-losing-tokens-count">{{ tokens.opponent.losing_tokens }}</span>
        </strong>
    </div>
</div>
